* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #3B4CCA;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

.cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
  flex-grow: 1;
  padding: 20px;
}

@media (max-width: 1200px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 900px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

header {
  color: #FFDE00;
  background-image: linear-gradient(black, #3B4CCA);
  display: flex;
  justify-content: space-between;
}

.left-header > h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.left-header {
  padding: 10px;
}
